<h1>Simple Ecommerce Web App</h1>
<h2>Simplifica tu tienda en linea</h2>
<img src="images/negociosweb.jpg" alt="simple ecommerce">
<form action="/hook" method="post">
  <label for="txtEmail">
      Reserva tu lugra para se de los primeros en usarlo cuando lo liberemos.
  </label>
  <input type="email" value=""
      placeholder="tucorre@electr.nico"
      name="txtEmail" id="txtEmail" />
      <br/>
      <button type="submit" name="btnAdd">Quiero Participar</button>
</form>
